<%- include('./../partials/_head') %>


    <%- include('partials/_auth-nav') %>

        </header>

        <main class="dashboard-pages flex">
        
            <section class="dashboard-component">
                <%- include('partials/_dashboard-component') %>
            </section>
        
            <section class="dashboard-messaggi dashboard-page">
                <h1>messaggi</h1>
            </section>
        
        
        </main>


</div>
        <%- include('./../partials/_footer') %>