<nav class="auth-nav flex">
    <div class="auth-nav-left flex">
        <a href="/auth/dashboard">DASHBOARD</a>
    </div>
    <div class="auth-nav-right flex">
        <div><%= user %></div>
        <a href="/logout">Logout</a>
    </div>
</nav>