<div class="dashboard-panel">
    <h3 class="dashboard-panel-title align-center">
        Dashboard di <%= user %>
    </h3>
    <a href="show" class="dashboard-panel-component flex">
        Le mie carte
    </a>
    <a href="messaggi" class="dashboard-panel-component flex">
        Leggi i messaggi
    </a>
    <a href="create" class="dashboard-panel-component flex">
        Vendi le tue carte
    </a>
    <a href="statistiche" class="dashboard-panel-component flex">
        Carrello
    </a>
</div>