<nav class="log-nav flex">
    <div class="log-nav-logo flex">
        <a href="/">HOME</a>
    </div>
    <ul class="log-nav-ul flex">
        <li class="log-nav-ul-li"><a href="/login">Login</a></li>
        <li class="log-nav-ul-li"><a href="/register">Register</a></li>
    </ul>
</nav>