.login-form {
  width: 100%;
  justify-content: center;
  margin-top: 5em;
  &-container {
    border: 5px solid #333;
    border-radius: 5px;
    padding: 2em 6em;
    &-message {
      padding-bottom: 1em;
      color: crimson;
      font-weight: bold;
    }
    h1 {
      color: #333;
      padding-bottom: 0.8em;
    }
    .form-group:first-of-type,
    .form-group:nth-child(2) {
      padding-bottom: 1em;
    }
    .form-group {
      button {
        margin-top: 1em;
        padding: 10px 15px;
        cursor: pointer;
        background-color: #333;
        border: none;
        color: #fff;
        border-radius: 5px;
        transition: all 0.5s;
        letter-spacing: 1px;
      }
      button:hover {
        color: #333;
        background-color: #fff;
        border: 2px solid #333;
        font-weight: bold;
      }
      input {
        appearance: none;
        border: none;
      }
      input:focus-within {
        outline: none;
      }
      input::placeholder {
        color: #000;
      }
      input[type="text"],
      input[type="password"] {
        border-bottom: 1px solid #333;
        color: #333;
        padding: 0.8em;
      }
    }
  }
}
